.grid-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  grid-template-areas:
    "nav nav "
    "aside main"
    "aside main"
    "";
}

.navbar {
  grid-area: nav;
}
.main {
  grid-area: main;
}

.sidebar {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}
